body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#qrcode {
    margin-top: 20px;
}

#qrcode img {
    width: 150px;
    display: block;
    height: 150px;
    margin-left: 113px;
    border: 10px solid #007bff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transform: rotateX(15deg) rotateY(15deg);
    transition: transform 0.3s ease;
    margin-bottom: 30px;
}


#qrcode img:hover {
    transform: rotateX(0deg) rotateY(0deg);
}

.share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-buttons a,
.share-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.share-buttons a:hover,
.share-buttons button:hover {
    background-color: #0056b3;
}

.share-buttons img {
    vertical-align: middle;
    margin-right: 5px;
}
